In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('/Users/joshuarkarnad/Desktop/Thinkful/school.csv')
df.shape

(67972, 88)

In [3]:
df.isnull().sum().sort_values(ascending=False)

Sexual Offenses                                                  63866
Failure of Disorderly Persons to Disperse Upon Official Order    60543
Criminal Trespass                                                60543
Suicide - Attempted                                              60543
Suicide - Committed                                              60543
Terroristic Threats (excl bomb threats)                          60543
Open Lewdness                                                    60543
Statutory Sexual Assault                                         60543
Obscene and other sexual materials and performances              60543
Minor Altercation                                                60543
Unlawful Restraint                                               60543
Cyber Harassment                                                 60543
Institutional Sexual Assault                                     60543
Indecent Exposure                                                60543
Stalking                                                         60543
Possession of a Firearm                                          56561
Ideation                                                         56463
Assaults on Students                                             52740
Assaults on Staff                                                52740
Possession of Other Weapon                                       41832
Other Misconduct                                                 37402
Attempted                                                        26490
Committed                                                        26490
Other                                                            26140
Violence Expulsion                                               22902
Violence OSS                                                     22902
Truancy Rate                                                     22902
Academic Expulsion                                               22902
Tobacco OSS                                                      22902
Conduct OSS                                                      22902
                                                                 ...
School Number                                                    11040
Enrollment                                                        7590
Terroristic Threats                                               7429
School Name                                                       4040
AUNbr                                                             1224
LEA Name                                                           962
County                                                             218
Fighting                                                             0
Racial/Ethnic Intimidation                                           0
Total Arrests                                                        0
Threatening a School Official/Student                                0
Sale/Distribution of a Controlled Substance                          0
Arson                                                                0
Sale, Possession, Use, or Under the Influence of Alcohol             0
Robbery                                                              0
Assignments to Alternative Education                                 0
Attempt or Commission of Murder/Manslaughter                         0
Reckless Endangering                                                 0
Possession/Use of a Controlled Substance                             0
Bomb Threats                                                         0
Incidents                                                            0
Possession, Use, or Sale of Tobacco                                  0
Possession of a Knife                                                0
Other Harrassment/Intimidation                                       0
Offenders                                                            0
No. of Incidents Involving Local Law Enforcement                     0
LEA Type                                                             0
Disorderly Conduct                                                   0
Kidnapping/Interference With Custody of Child                        0
Year                                                                 0
Length: 88, dtype: int64

In [4]:
df = df[df['Enrollment'] > 100]
df = df[df['Enrollment'] < 10000]
df = df.drop(['School Number', 'LEA Name', 'AUNbr'], axis = 1)
drop_cols =['Sexual Offenses', 'Failure of Disorderly Persons to Disperse Upon Official Order',
'Criminal Trespass','Suicide - Attempted', 'Suicide - Committed',
'Terroristic Threats (excl bomb threats)', 'Open Lewdness', 
'Statutory Sexual Assault', 'Obscene and other sexual materials and performances', 
'Minor Altercation', 'Unlawful Restraint','Cyber Harassment', 'Institutional Sexual Assault',                                    
'Indecent Exposure',                                              
'Stalking',
'Possession of a Firearm',                                        
'Ideation',                                                      
'Assaults on Students',                                           
'Assaults on Staff',                                          
'Possession of Other Weapon',                                       
'Other Misconduct',                                    
'Attempted',                                                
'Committed',                                                      
'Other']
df = df.drop(drop_cols, axis=1)
df.shape

(58227, 61)

In [5]:
df['Year'].value_counts()

2017    3724
2009    3716
2008    3701
2010    3695
2006    3678
2005    3677
2004    3668
2011    3666
2007    3665
2002    3654
2003    3642
2012    3609
2014    3573
2015    3527
2013    3525
2016    3507
Name: Year, dtype: int64

In [6]:
df['Drug and Alcohol Expulsion'] = df['Drug and Alcohol Expulsion'].fillna(50000)
df = df[df['Drug and Alcohol Expulsion'] != 50000]
df['School Name'] = df['School Name'].fillna('50000')
df = df[df['School Name'] != '50000']
df['Terroristic Threats'] = df['Terroristic Threats'].fillna(50000)
df = df[df['Terroristic Threats'] != 50000]
df['LEA Type'] = df['LEA Type'].fillna('50000')
df = df[df['LEA Type'] != '50000']
df['Sexual Harassment'] = df['Sexual Harassment'].fillna(50000)
df = df[df['Sexual Harassment'] != 50000]
df.shape

(31175, 61)

In [7]:
df['Year'].value_counts()

2009    3687
2008    3673
2010    3665
2007    3638
2011    3635
2012    3576
2013    3492
2014    3057
2015    2752
Name: Year, dtype: int64

In [8]:
weapons = ['Handgun', 'Rifle/Shotgun', 'Weapon Expulsion', 'Other Firearm',
           'Weapon OSS', 'Attempt or Commission of Murder/Manslaughter', 'Explosive', 
           'Possession of a Knife']
df['Weapon Incidents'] = df[weapons].sum(axis=1)
df['FollowingYearWeapons'] = 0

In [9]:
from tqdm import tqdm
for i,row in tqdm(df.iterrows()):
    if i < 100000:    
        rowschool = row['School Name']
        current_year = row['Year']
        following_year = row['Year'] + 1
        rowschool_nextyear = df[(df['School Name'] == rowschool) & (df['Year'] == following_year)]
        #     print(rowschool_nextyear['Expulsions'])
        if len(rowschool_nextyear) < 1:
            df.loc[i, 'FollowingYearWeapons'] = -10
        else:
            df.loc[i, 'FollowingYearWeapons'] = rowschool_nextyear['Weapon Incidents'].values[0]

31175it [01:47, 289.70it/s]

In [10]:
df['School Name'].value_counts()

Central El Sch                              49
Washington El Sch                           45
Lincoln El Sch                              42
Mountain View El Sch                        41
Jefferson El Sch                            36
Fairview El Sch                             32
Grandview El Sch                            27
Central HS                                  26
South Side El Sch                           25
Washington EL School                        24
Highland El Sch                             24
Clearview El Sch                            24
Roosevelt MS                                22
Edgewood El Sch                             22
Lincoln EL School                           21
Central EL School                           21
Perry El Sch                                20
Lafayette El Sch                            20
Richland El Sch                             19
Eisenhower El Sch                           19
Springfield El Sch                          18
Hoover El Sch                               18
Franklin El Sch                             18
Montgomery El Sch                           18
Pleasant Valley El Sch                      18
Southern MS                                 18
Grandview EL School                         18
William Penn El Sch                         18
Hopewell El Sch                             18
Northeast MS                                18
                                            ..
Hamburg MS                                   1
Mckinley William School                      1
Portage Area MS                              1
Baden Academy CS                             1
Linesville Conneaut Summit HS                1
Saint Clair Area El MS                       1
Monocacy Kdg Ctr                             1
Young Scholars Kenderton CS                  1
North Annville El Sch                        1
Downingtown Sixth Grade Center               1
Mastery CS - Francis D. Pastorius Elemen     1
Youth Forestry Camp #3                       1
Pocono Mountain East HS/Academy              1
Amity EL Ctr                                 1
Mann William B Sch                           1
Douglass Frederick Sch                       1
Allegheny El Sch 1                           1
Math Sci and Tech Community CS               1
Sykesville El Sch                            1
Lehigh El Sch                                1
Aldan El Sch                                 1
Penn Hills El Sch                            1
Premier Arts and Science Charter School      1
Pocono Mountain SD                           1
Valley JSHS                                  1
Hazle EL School                              1
Jefferson-Morgan MS HS                       1
North Fayette County AVTS                    1
Penn Wood 9th Grade Academy                  1
Maple Manor El/MS                            1
Name: School Name, Length: 5879, dtype: int64

In [12]:
df_neg = df[df['FollowingYearWeapons'] < -1]
df_neg['Year'].value_counts()

2015    2752
2009    1961
2013     591
2014     355
2010     143
2011     128
2012     120
2007     111
2008      35
Name: Year, dtype: int64

In [14]:
df.to_csv('/Users/joshuarkarnad/Desktop/Thinkful/Data/WeaponDataCleaned.csv')
df_neg.to_csv('/Users/joshuarkarnad/Desktop/Thinkful/Data/WeaponDataNoFollowingYears.csv')

In [15]:
df = df[df['FollowingYearWeapons'] > -1]
df.to_csv('/Users/joshuarkarnad/Desktop/Thinkful/Data/WeaponDataCleanedv2.csv')

In [13]:
df.shape

(24979, 63)